.field__button {
  margin-left: 10px;
  padding: 0 15px;

  background-color: green;

  border: solid black 1px;
  border-radius: 7px;

  color: white;

  cursor: pointer;
}

.field__button:disabled {
  cursor: not-allowed;
  opacity: .5;
}
