@import url(./blocks/body/body.css);
@import url(./blocks/cards/cards.css);
@import url(./blocks/cards/__image/cards__image.css);
@import url(./blocks/field/field.css);
@import url(./blocks/field/__input/field__input.css);
@import url(./blocks/field/__invisible-text/field__invisible-text.css);
@import url(./blocks/field/__button/field__button.css);

.negative-scale {
    transition: 1s;
    display: none;
}

.scale {
    display: flex;
    transition: 1s;
    transform: scale(1.5);
}

.input__field_successful-check {
    background-color: cadetblue;
    color: white;
    
    border: solid black 1px;
    border-radius: 7px;
}

.input__field_verification-failed {
    background-color: cadetblue;
    color: white;
    
    border: solid black 1px;
    border-radius: 7px;
}
