body {
    margin: 100px 0 0;
}

.images {
    max-width: 100px;
    max-height: 100px;

    padding: 0 5px;
}

.negative-scale {
    transition: 1s;
    display: none;
}

.scale {
    display: flex;
    transition: 1s;
    transform: scale(1.5);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input__container{
    display: flex;
    justify-content: center;

    padding-top: 30px;
}

.input__field {
    padding: 10px;
    width: 300px;

    border: solid cadetblue 1px;
    border-radius: 7px;
}

.input__field_successful-check {
    background-color: cadetblue;
    color: white;
    
    border: solid black 1px;
    border-radius: 7px;
}

.input__field_verification-failed {
    background-color: cadetblue;
    color: white;
    
    border: solid black 1px;
    border-radius: 7px;
}

.input__span {
    display: none;
}

.input__button {
    margin-left: 10px;
    padding: 0 15px;

    background-color: cadetblue;

    border: solid cadetblue 1px;
    border-radius: 7px;

    color: white;
}
